
body {
    background-color: #2891c1;
    color: rgb(23, 22, 22);
    font-family: "Kanit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffffff;
    color: rgb(3, 3, 3);
 
  font-family: "Kanit", sans-serif;

}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}